.contenedor-admin-entidad{
  padding:6px;
  border-radius: 4px;
  width: 100%;
  @include flexbox;
  @include align-items(flex-start);
  @include flex-direction(column);  
}

/* --- H E A D E R --- */

.admin-header{
  width: 100%;  
  padding: 0 6px; 
  @include flexbox;
  @include align-items(center);
  @include flex-direction(row); 
  border:solid 1px transparent;
  
}  

  

  .admi-header-titulo{
    font-size: 16px;
    color: $Color-texto-gris-Mercadolibre;
    margin-left: 5px;   
  }


/* --- C O N T E N E D O R  d e  C O L U M N A  y  C O N T E N T --- */

.admin-contiene-columna-y-content{  
  width: 100%;
  @include flexbox;
  @include align-items(flex-start);
  @include flex-direction(row);
  @include justify-content(space-between);
  margin: 0 auto;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1000;
 
}

  .admin-contiene-content{
    width: 80%;    
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);
    padding:4px;
    border-radius: 4px;       
    margin: 4px auto;
    margin-left: 215px;
  }


  .admin-contnedor-navegacion-miga{
    width: 100%;
    padding:6px 2px;
    border-bottom: solid 1px $Color-Gris-Claro;
    font-size: 14px;
    margin-bottom:12px;
  }
    .spam-separador{
      margin: 0 2px;
      

    }



/* * * * * * * * * * * * * * * * * * * * * * * * * *
 *    N A V I G A T I O N   S L I D E   B A R (Admin)*
 *        (la "columna" de la izquierda)            *
 * * * * * * * * * * * * * * * * * * * * * * * * * */
 // columna
 .admin-columna-contenedor{
  width: 200px;
  padding: 5px 6px;
  border-right: 1px solid $color-3;  
  @include flexbox;
  @include align-items(center);
  @include flex-direction(column); 
  background-color: $color-white;
  min-height: 100vh;
  position: fixed;
}

      // y esto???? que es???
      .admin-boton-registrar{
        padding: 8px;
        background-color:$Color-Azul-Wm;
        font-size: 18px;
        color: white;
        border-radius: 5px; 
      }

// logo o isologo de la marca
.admin-header-logo{
    height: 55px;
    margin:35px 3px;
  }

// secciones de la columna con diferentes permisos y sus lineas separadoras
#admin-col-admin,
#admin-col-superadmin,
#admin-col-backtoweb{
  padding: 14px 0;
}
// color de la linea divisora
#admin-col-admin,
#admin-col-superadmin{
  border-bottom: 1px solid $color-2light;
}


// E S T I L O S   D E   L O S   L I N K S   D E   L A   C O L U M N A

.admin-columna-contenedor ul{
  margin-top: 40px;
}

// links a secciones de la admin
.admin-columna-contenedor a li:not(.Helper-Class-Active){
  color: $color-3;
}
.admin-columna-contenedor a li:not(.Helper-Class-Active):hover {
  color: $color-3superlight;
}

// glyphicons de los links
.admin-columna-contenedor a li:not(.Helper-Class-Active) span{
  color: $color-2light;
}
.admin-columna-contenedor a li:not(.Helper-Class-Active):hover span{
  color: $color-2superlight;
}

// link inferior (para volver a la pagina)
.admin-columna-contenedor #admin-col-backtoweb a p {
  color: $color-3dark;
}
.admin-columna-contenedor #admin-col-backtoweb a p:hover {
  color: $color-3;
}
// color de los links cuando estan activos
.admin-columna-contenedor a li.admin-columna-li.mi-float-right.Helper-Class-Active{
  color: $color-3superlight;
  text-shadow: 0 0 5px $color-3, 0 0 10px $color-3;
  -webkit-transition: none; /*cambiar "all" por "translate" si quiero que los demás cambios se hagan instantáneamente*/
  -moz-transition: none;
  transition: none;
}
// para que no se muevan hacia la derecha en hover
.admin-columna-contenedor a:hover li.admin-columna-li.mi-float-right.Helper-Class-Active{
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
// color del glyphicon cuando esta active
.admin-columna-contenedor a li.admin-columna-li.mi-float-right.Helper-Class-Active span{
  color: $color-2superlight;
  text-shadow: 0 0 5px $color-2light, 0 0 10px $color-2light;
}

// links que llevan a secciones del admin panel
.admin-columna-contenedor #admin-col-superadmin a li,
.admin-columna-contenedor #admin-col-admin a li{
  width: 100%;
  padding:5px;
  font: arial;
  font-size: 14px;
  margin-top: 2px;
  text-decoration: none;
  list-style: none; 
}

// link que lleva de vuelta al sitio web para ver los cambios
.admin-columna-contenedor #admin-col-backtoweb a p{
letter-spacing:3px;
}



 .contenedor-admin-entidad-titulo-form-busqueda{
    width: 100%;
    @include flexbox;
    @include align-items(center);
    @include flex-direction(row);
    @include justify-content(space-between);
    padding: 5px 2px;
    border-bottom: solid 1px $Color-Gris-Claro;

 }

  .contenedor-img-titulo{
    @include flexbox;
    @include align-items(center);
    @include flex-direction(row);
    padding: 3px 0px;
  }

   .admin-entidad-img{
    height: 80px;
    border-radius:4px;
    margin-right: 4px;
   }

   .admin-entidad-titulo{
    font-size: 20px;
    margin-left: 15px;
    border-radius:4px;
    
   }

   .admin-entidad-contenedor-imagenes-y-form{
     @include flexbox;
     @include align-items(center);
     @include flex-direction(row);
     width: 100%;
     @include justify-content(space-around);
     @include flex-wrap(wrap);
     padding:6px;
     border-radius: 4px;
     background-color: $color-grey0;

   }

     .admin-entidad-contenedor-imagenes-form-form{
      @include flexbox;
      @include align-items(center);
      @include flex-direction(row);
      @include justify-content(center);
      @include flex-wrap(wrap);
      margin:15px auto;
      padding:6px;
      border-radius:4px;
      background-color:$Color-Gris-Claro;
      width: 800px;
     }

    

     .admin-entidad-proyecto-img-adicionales-contenedor{
        border-color: $Color-Gris-Claro-Para-Bordes;
        position: relative;
        
        border: solid 1px $Color-Gris-Claro;
        margin-right: 4px;
        margin-top: 5px;
     }

     .admin-entidad-proyecto-img-adicionales-contenedor__show{
        border:solid 6px $color-3;
     }

        .admin-entidad-proyecto-img-adicionales{
          height: 75px;

          
        }


        .icono-eleminar-imagen{
          position: absolute;
          right: 2px;
          top: 1px;
          padding:1px;
          border-radius:2px;
          color:$color-grey2 ;
        }
        .icono-eleminar-imagen:hover{
          background-color: $Color-Errors-BG;
          border-color: $Color-Rojo-Texto-Error;
          color:white;
        }

        .icono-establecer-imagen{
          position: absolute;
          right: 2px;
          bottom: 1px;
          padding:2px;
          border-radius:2px;
          color:$color-3;
        }
        .icono-establecer-imagen:hover{
          background-color: $color-3;
          color: white;
        }

      .admin-entidad-contenedor-imagenes-form-field{
        font-size: 10px;
        margin: 0 5px;
      }
 


         .boton-subir-img{
          @include Boton-Chico($color-3);
          margin: 5px ;
         }

         .boton-subir-img:hover{
          background-color:$color-3light ;
         }

   .admin-entidad-buscador-contenedor{
     @include flexbox;
     @include align-items(center);
     @include flex-direction(row); 
   }
   .admin-contiene-entidades-y-pagination{
      width: 100%;
      @include flexbox;
      @include align-items(center);
      @include flex-direction(column);
   }


     .admin-entidad-contenedor-entidades{
      width: 100%;
      @include flexbox;
      @include align-items(center);
      @include flex-direction(row);
      @include justify-content(space-around);
      @include flex-wrap(wrap);
      padding: 4px;
     }