.Slider_cabecera_caption_titulo{
  font-size: 2rem;
}

.Slider_cabecera_caption_sub_titulo{
  font-size: 1rem;
}  

.Slider_cabecera_caption_logo{
  position:absolute; 
  right: 5%; 
  bottom: 5%; 
  height: 50px;
  width:auto;
}



@media (min-width: $BrackPoint-Primario){

.Slider_cabecera_caption_logo{  
  height: 60px;  
}

   
}

@media (min-width: $BrackPoint-Secundario){
.Slider_cabecera_caption_titulo{
  font-size: 3rem;
}

.Slider_cabecera_caption_sub_titulo{
  font-size: 2rem;
}

.Slider_cabecera_caption_logo{  
  height: 70px;  
}
 

  
}

@media (min-width: $BrackPoint-Tercer){



  
}


