//creative_template ddddssdsddddd
@import "resources/assets/sass/Estilo/colors";
@import "resources/assets/sass/template_Creative/bootstrap";
@import "resources/assets/sass/template_Creative/bootstrap-grid";
@import "resources/assets/sass/template_Creative/bootstrap-reboot";
@import "resources/assets/sass/template_Creative/_variables";
@import "resources/assets/sass/template_Creative/_mixins";
@import "resources/assets/sass/template_Creative/_global";
@import "resources/assets/sass/template_Creative/_navbar";
@import "resources/assets/sass/template_Creative/_masthead";
@import "resources/assets/sass/template_Creative/_services";
@import "resources/assets/sass/template_Creative/_portfolio";
@import "resources/assets/sass/template_Creative/_bootstrap-overrides";
@import "resources/assets/sass/template_Creative/font-awesome/scss/font-awesome";
@import "resources/assets/sass/template_Creative/magnific-popup"; 
@import "resources/assets/sass/template_Creative/_paddin-margin"; 

@import "resources/assets/sass/Plugins/Plug-flex";
//clases personalizadas para cada trabajo
.contenedor-baner-img-tex-html{
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center); 
}

.get_width_100{
  width:100%;
}

.padding-secion-custom{
  padding: 4rem 0;
}

.espacio-letras{
  letter-spacing: 2px;
  font-family: arial;
}

/* colores personalizados */
.color-text-gris{
  color: #b4b4b4;
}

.mostrar-cabecera-destop{
  display:none;
}

.ocultar-cabecera-mobil{
  display:block;
}

.border-switch{
  border-top: solid 1px #575555;  
  border-left:none;
}


@media (max-width: 768px) {

      .texto-centrado-personalizado{
              text-align: center;
       } 

      
}

@media (min-width: 768px) {  
.mostrar-cabecera-destop{
  display:block;
}


.ocultar-cabecera-mobil{
  display:none;
}

.border-switch{
        border-top: none;
        border-left:  solid 1px #575555;
      }

}


/* ajustes de Erni */
p, h1, h2, h3, h4, h5, h6 {
 cursor: default;
 text-decoration: none;
 } 

a, a p, a h1, a h2, a h3, a h4, a h5, a h6 {
 cursor: pointer; cursor: hand;
 text-decoration: none;
 outline:none;
}

a:hover, a:focus, a>p:hover, a>p:focus{
 text-decoration:none;
 outline:none;
 }

