
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * *    P A L E T A    d e    C O L O R E S    * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */




/* COLORES INSTITUCIONALES */ 

$color-1:#f1e7d2; /* institucional similar a color-3 pero más amarillito, como el doradito del logo */

$color-2:#f05a24; /* institucional OSCURO - para el background de la nav-bar por ejemplo - en este caso coincide con los grises nuestros */
$color-2semilight:#2e2e2e;
$color-2light:#4e4e4e; /* para textos de baja relevancia que están sobre fondo oscuro (como en el footer) */
$color-2superlight:#808080;

$color-3:#f6921e; /* institucional PRINCIPAL */
$color-3dark:#917e4b; /* para interacciones dinámicas del color-3 como [hover] o [active] */
/*$color-3light:#e5d8bd;*/ /* para interacciones dinámicas del color-3 como [hover] o [active] */
$color-3light:#faaf3b; /* probando uno mas oscurito */
$color-3superlight:#faaf3b; /* para backgrounds de bloques de texto en instancia de hover) */
$color-3hyperlight:#f8f1e3;






/* COLORES GENERALES */

$color-grey0:#f8f8f8; /*gris SUPER claro (solo para líneas divisoras de relevancia baja o backgrounds de bloques de texto)*/
$color-grey1:#b3b3b3; /*gris más claro (para párrafos y otras cosas)*/
$color-grey2:#858585; /*gris medio (para títulos por ejemplo)*/
$color-grey3:#3b3b3b; /*gris más oscuro (para backgrounds por ejemplo)*/
$color-grey3:#2a2a2a; /*gris más oscuro (para backgrounds por ejemplo)*/

$Color-Gris-Claro: #EFEEEE;
$Color-Gris-CasiBlanco:#FDF9F9;
$Color-Claro-Categoria-ML: #F7F7F7;
$Color-texto-gris-Mercadolibre: #999999;

$color-white:white; /*usamos esto en lugar de "white" por si decidimos cambiarlo todos los blancos más adelante*/
$color-black:black; /*misma razón, pero para el negro */

$color-bordeaux:#5F021F; /*para el ribbon llamado destacado despliegue*/
$color-bordeauxdark:#2d010f;





/* COLORES DEL CAROUSEL (IMAGE SLIDER) */

.carousel-control,
.carousel-control:hover,
.carousel-control:focus,
.carousel-caption {
	color: $color-3light;
}
.carousel-indicators li {
	border-color: $color-3superlight;
}
.carousel-indicators .active {
	background-color: $color-3superlight;
}




/* CLASES PARA COLOREAR DESDE EL HTML (color o background) */
/* negro */
.color-black{
  color:$color-black;
}
.bgcolor-black{
  background:$color-black;
}
/* blanco */
.color-white{
  color:$color-white;
}
.bgcolor-white{
  background:$color-white;
}
/* grises */
.color-grey0{
  color:$color-grey0;
}
.bgcolor-grey0{
  background:$color-grey0;
}
.color-grey1{
  color:$color-grey1;
}
.bgcolor-grey1{
  background:$color-grey1;
}
.color-grey2{
  color:$color-grey2;
}
.bgcolor-grey2{
  background:$color-grey2;
}
.color-grey3{
  color:$color-grey3;
}
.bgcolor-grey3{
  background:$color-grey3;
}

/* institucionales */
.color-1{color:$color-1;}
.bgcolor-1{background:$color-1;}

.color-2{color:$color-2;}
.bgcolor-2{background:$color-2;}

.color-2light{color:$color-2light !important;}
.bgcolor-2light{background:$color-2light;}

.color-3{color:$color-3;}
.bgcolor-3{background:$color-3;}

.color-3dark{color:$color-3dark;}
.bgcolor-3dark{background:$color-3dark;}

.color-3light{color:$color-3light;}
.bgcolor-3light{background:$color-3light;}

.color-3superlight{color:$color-3superlight;}
.bgcolor-3superlight{background:$color-3superlight;}

.color-3hyperlight{color:$color-3hyperlight;}
.bgcolor-3hyperlight{background:$color-3hyperlight;}

.color-bordeaux{color:$color-bordeaux;}
.bgcolor-bordeaux{backgroundcolor:$color-bordeaux;}















/* ------------------------------------------------------------------------------------------------ */

/* BORRAR TODO ESTO QUE VIENE A CONTINUACIÓN (ojo que alguno tal vez lo usó mauri en el admin panel) */

$Color-Corporativo-1:#c2c2c2;
$Color-Corporativo-2:#c2c2c2;
$Color-Corporativo-3:#c2c2c2;
$Color-Corporativo-4:#c2c2c2;



$institucional1:#3b3b3b;
$institucional2:#808080;
$institucional3:orange;
$institucional4:#f1f1f1;
$institucional5:#2045FF;



$Color-Azul-Wm:$color-3;

$Color-Azul-Wm_Hover:$color-3light ; 

$Color-background-titulos: $color-3light;


$Color-Azul-Wm-Claro:#7895d3;

$Color-AmarilloPatitp: #F6FCC7 ;

$Color-AmarilloPatitp-Claro: #FFFDE4; 

$Color-AmarilloLogo: #F7E903;

$Color-Amarill-warning: #fff0ba;

$Color-Texto-Warning:#aa8749;

$Color-Verde-Google: #006621;

$Color-Verde-MercadoLibre: #468C00;

$Color-Verde-Claro: #03BA3D;

$Color-Verde-Mas-Claro: #04c946;

$Color-Verde-Super-Claro:#DFF2BF ;

$Color-Verde-Success: $Color-Verde-Super-Claro;

$Color-Verde-Success-Text: $Color-Verde-Mas-Claro; 

$Color-Linkg-Google: #1a0dab;

$Color-Link-MercadoLibre: #809;

$Color-Azul-Texto: #06C;

$Color-Links-Hover: #5171B8;

$Color-Azul-Texto-Mercadolibre-Preguntas: #60A0BC;

$Color-Negro-Texto: #212121 ;

$Color-Gris-Plata: #c2c2c2 ;

$Color-Gris-Claro-Para-Bordes: #dfdfdf;

$Color-Azul-Super-Claro: #CED8F6;

$Color-Azul-Medio-Claro: #9BE0FE;

$Color-Azul-Francia:#247AC1;

$Color-Gris-Claro: #EFEEEE;

$Color-Gris-CasiBlanco:#FDF9F9;

$Color-Claro-Categoria-ML: #F7F7F7;

$Color-texto-gris-Mercadolibre: #999999;

$Color-Anaranjado-Para-Warning: #FF6A1F;

$Color-Rosado-Vicky: #FF94DC;

$Color-Rojo-Oferta-MercadoLibre: #900;

$Color-Rojo-Cancelar: #FF0000;

$Color-Rojo-Texto-Error: #B40404;

$Color-Errors-BG: #FCB6B6;

$Color-Rosado-Active-Cancelar-Bg:#FDB6BF ;


